    .widget .latest-posts .entry-title {
        font-size: 14px;
        line-height: normal;
        margin: 0;
    }
    .widget .latest-posts .entry-title a{
        text-decoration: none;
    }
    .media, .media .media {
        margin-top: 20px;
        overflow: hidden;
    }
    .latest-posts .entry-meta{
        color: #888;
    }

    .latest-posts .small {
        font-size: 85%;
    }

    .latest-posts .media>.pull-left {
        padding-right: 10px;
    }

    .latest-posts .pull-left {
        float: left!important;
    }

    .latest-posts .media-body {
        display: table-cell;
        vertical-align: top;
    }